<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Demande de contact sur le site Vital'Marche</title>
</head>

<body>
<p><%= @message %></p>
<br>
<p> Répondre à <%= @email %></p>
</body>
</html>
