<%= stylesheet_link_tag "devise", media: "all" %>
<section class="background-cover">
  <div class="col-md-12 text-center m-top-30">
    <h1 class="text-blue"> Vie privée </h1>
    <div class="separator_auto"></div>
    <p> Vital'Marche prend à cœur la protection de votre vie privée. </p>
    <p> Conformément au
      <a target="_blank" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD</a>,
      à la <a target="_blank" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228">législation
      française</a> et aux recommandations de la
      <a target="_blank" href="https://www.cnil.fr/fr/protection-des-donnees-les-bons-reflexes">CNIL</a>, voici notre
      démarche : </p>
    <h3 class="text-blue m-top-10"> Cookies </h3>
    <p> Tout d'abord, si vous ignorez ce qu'est un cookie, vous pouvez vous référer à
      <a target="_blank" href="https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs">cet article</a>. </p>
    <p> Nous utilisons 2 cookies :</p>
    <li> Un cookie de session, qui est écrasé à la fin de chaque session (ces dernières durent 15 minutes).</li>
    <li><p> Un cookie de consentement, qui change de valeur lorsque vous donnez votre consentement sur la page
      d'accueil.</p>
      <p>(ce dernier permet uniquement de savoir si l'on doit afficher la demande de consentement au visiteur ou s'il a
        déjà donné sa réponse)</p>
    </li>
    <h3 class="text-blue m-top-10"> Données personnelles </h3>
    <p> Concernant les adhérents, les seules données stockées sont les suivantes : </p>
    <li> Nom et prénom</li>
    <li> Adresse mail</li>
    <li> Mot de passe chiffré</li>
    <h3 class="text-blue m-top-10"> Utilisation de vos données </h3>
    <p> Nom, prénom et adresse mail servent à vous identifier sur l'espace adhérent et votre mot de passe sert à vous
      authentifier. </p>
    <h3 class="text-blue m-top-10"> Droit à l'oubli </h3>
    <p> Dès qu'il le souhaite, un adhérent peut demander la suppression de son compte et donc de ses données
      personnelles</p>
    <p> Pour cela, il suffit de cliquer sur le bouton prévu à cet effet, en bas de son espace personnel.</p>
    <p> Cette suppression sera effective dans un délai maximum de 15 minutes.</p>
  </div>
</section>