html,
body {
  background-color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

/*------------------------------------------------------------------*/
/*   Colors
/*-----------------------------------------------------------------*/

$green: #98C169 !default;
$blue: #94B5BD !default;
$light-blue: #c2eaf6 !default;

.text-blue {
  color: $blue !important;
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

//noinspection ALL


/*text color*/

.text-muted {
}

.text-primary {
  color: $blue !important;;
}

.text-white {
  color: #fff !important;;
}

.text-black {
  color: #000 !important;
}

.text-warning {
}

.text-danger {
}

.disabled {
  cursor: not-allowed;
}

/*bacground color*/

.bg-primary {
  background-color: #1E8BC3;
}

.bg-mega {
  background-color: #6a6b6c;
}

.bg-black {
  background-color: #212121;
}

.bg-white {
  background-color: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  -webkit-user-drag: none;
  -user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
  outline: inherit;
  background-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /*    direction: rtl;*/
}

p {
  margin: 0 0 15px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  /*color:#fff;*/
}

.form-control {
  border-radius: 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  width: 100%;
  height: 50px;
  /*color:#fff;*/
}

.form-control:focus {
  border-color: #bcefeb;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  /*color:#fff;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}


h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span {
  color: $blue;
}

p {
  line-height: 1.5rem;
}

p:last-child {
  margin-bottom: 0px;
}

/*colors*/

.w300 {
  font-weight: 300;
}


/*
Section
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*all overlay*/
.overlay {
  background-color: rgba(51, 51, 51, 0.30);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.left-no-padding {
  padding-left: 0 !important;
}

.right-no-padding {
  padding-right: 0 !important;
}


/*
Separator
*/
.separator_left {
  width: 85px;
  height: 2px;
  margin: 20px 0px;
  background: $blue;
}

.separator_auto {
  width: 85px;
  height: 2px;
  margin: 20px auto;
  background: $blue;
}

/*
Extra height css
*/
.m-0 {
  margin: 0 !important;
}

.m-top-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-40 {
  margin-top: 40px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-top-90 {
  margin-top: 90px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-110 {
  margin-top: 110px;
}

.m-top-120 {
  margin-top: 120px;
}

.m-t-b-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.m-t-b-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.m-bottom-10 {
  margin-top: 10px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-bottom-60 {
  margin-bottom: 60px;
}

.m-bottom-80 {
  margin-bottom: 80px;
}

.m-bottom-90 {
  margin-bottom: 90px;
}

.m-bottom-100 {
  margin-bottom: 100px;
}

.m-bottom-110 {
  margin-bottom: 110px;
}

.m-bottom-120 {
  margin-bottom: 120px;
}

p-0 {
  padding: 0 !important;
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-20 {
  padding-top: 1.33rem;
}

.p-bottom-20 {
  padding-bottom: 1.33rem;
}

.p-top-30 {
  padding-top: 1.875rem;
}

.p-bottom-30 {
  padding-bottom: 1.875rem;
}

.p-top-40 {
  padding-top: 2.66rem;
}

.p-bottom-40 {
  padding-bottom: 2.66rem;
}

.p-top-60 {
  padding-top: 5rem;
}

.p-bottom-60 {
  padding-bottom: 5rem;
}

.p-top-80 {
  padding-top: 5.714rem;
}

.p-bottom-80 {
  padding-bottom: 5.714rem;
}

.p-top-90 {
  padding-top: 6.429rem;
}

.p-bottom-90 {
  padding-bottom: 6.429rem;
}

.p-top-100 {
  padding-top: 100px;
}

.p-bottom-100 {
  padding-bottom: 100px;
}

.p-top-110 {
  padding-top: 110px;
}

.p-bottom-110 {
  padding-bottom: 110px;
}

.p-bottom-0 {
  padding-bottom: 0;
}

/*padding*/

/*border*/
.no-border-top {
  border-top: 0px solid transparent !important;
}

/*for placeholder changes*/

input[type="email"].form-control::-webkit-input-placeholder {
  color: #fff;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-moz-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-webkit-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-moz-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

textarea::-moz-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

textarea::-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

.transform_scal_rotate:hover img {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.culmn {
  width: 100%;
  overflow: hidden;
}

/*heading title all area*/
.head_title {
  padding-bottom: 7.143rem;
  overflow: hidden;
}

.head_title h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.286rem;
  color: #1a1a1a;
}

.head_title p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
}

/*End off pridifain css*/

/*
Nav Menu style
==================*/

.cart-list li h6 a {
  color: #000;
}

.btn-cart {
  background-color: $blue;
  padding: 2px 10px;
  color: #fff !important;
  border: 0px solid;
  display: inline-block;
}

.btn-cart:hover {
  border: 0px solid;
  background-color: #ff7854 !important;
}


/*
Home Section style
==================*/
.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main_home {
  overflow: hidden;
  top: 50%;
  bottom: 50%;
  z-index: 1;
}

.home_text h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.286rem;
  font-weight: 700;
  line-height: 6.5rem;
}


/*
About section style
====================*/
.main_about {
  display: table;
  width: 100%;
}

.about_bottom_content {
}

.about_bottom_content .about_bottom_item {
}

.ab_head {
  width: 100%;
  display: table;
}

.ab_head .ab_head_icon {
  float: left;
  margin-right: 20px;
}

.ab_head .ab_head_icon .icofont,
.ab_head .ab_head_icon .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  background-color: $blue;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px $light-blue;

}

.slick-slide {
  opacity: 1;
}

.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1;


}


/* Slick */

.background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(39, 39, 39, 0.45);
}

.bck_layer {
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*
.text{
  position: absolute
}*/
.home_text {
  padding-left: 10%;
  color: #f0f0f0;
}

.slide_text {
  color: #f0f0f0;
  padding-right: 10%;
}

.slide {
  height: 100vh;

  @extend .background-cover;

  &--1 {
    background-image: image-url('background/header.jpg');
    backgound-color: rgba(159, 159, 159, 0.29);
  }

  &--2 {
    background-image: image-url('background/header2.jpg');
    backgound-color: rgba(159, 159, 159, 0.29);

  }

  &--3 {
    background-image: image-url('background/header3.jpg');
    backgound-color: rgba(159, 159, 159, 0.29);

  }

  &--4 {
    background-image: image-url('background/header4.jpg');
    backgound-color: rgba(159, 159, 159, 0.29);
  }
}


/*
new Section style
=======================*/

.article_text {
  padding-bottom: 5rem;
}
.new {
  background-color: $light-blue;
  background-size: cover;
  position: relative;
}

.main_new {
  position: relative;
  z-index: 1;
}

.main_new .new_slid {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.main_new .new_item {
  width: 90%;
  margin: 0 auto;
}

.main_new .new_slid .slick-arrow {
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.main_new .new_slid .slick-arrow.nextprevleft {
  float: left;
  top: 20px;
  left: -6%;
}

.main_new .new_slid .slick-arrow.nextprevright {
  float: right;
  top: -324px;
  right: -6%;
}

.main_new .new_item .test_authour i {
  color: #ffbf00;
}

.main_new .pdf_slid .slick-arrow {
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.main_new .pdf_slid .slick-arrow.nextprevleft {
  float: left;
  top: 20px;
  left: -6%;
}

.main_new .pdf_slid .slick-arrow.nextprevright {
  float: right;
  top: -324px;
  right: -6%;
}

.main_new .pdf_slid {
  width: 90%;
  display: block;
  margin: 0 auto;
}


/*
Maps Section style
=====================*/

.main_maps {
  background-image: image-url('maps.jpg') no-repeat center center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.maps_text {
  position: relative;
  z-index: 1;
}

.maps_text h3 {
  top: 20%;
  position: relative;
  margin-top: 95px;
}

.maps_text h3 i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: $blue;
  font-size: 1rem;
  display: inline-block;
  top: -5px;
  position: relative;
  margin-left: 10px;
}

.overlay-maps {
  background-color: $green !important;
}

.calendar {

}
/*
Contact Section style
=====================*/
.center-div {
  margin: auto;
  width: 50rem;
  height: 43rem;
}

.main_contact {
  overflow: hidden;
}

.main_contact a.btn {
  width: 100%;
}

.sponso-row {
  text-align: center;
  position: relative;
}

.sponso-div {
  display: inline-block;
  /* float:none; */
}

.sponso {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.contact-group{
  margin-bottom: 1rem;
}

.contact-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $blue;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-contact {
  height: 10rem !important;
}


.contact {
  position: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #fff;
}

/*
Footer Section style
=====================*/

.main_footer {
  overflow: hidden;
}

.main_footer i {
  padding: 0px 5px;
  color: #ff0000;
}


/*maps*/
.main_maps {
  width: 100%;
  height: 100%;
}

.main_maps i {
  font-size: 2.5rem;
  color: $light-blue;

}

.main_maps h2 {
  color: $light-blue;
}

.mapheight {
  height: 100px;
  width: 100%;
}


/* scrollup */

.scrollup {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  opacity: .3;
  position: fixed;
  bottom: 20px;
  right: 25px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  z-index: 1000;
  transition: opacity .5s, background-color .5s;
  -moz-transition: opacity .5s, background-color .5s;
  -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
  background: $blue;
  opacity: 1;
}

.scrollup i {
  font-size: 13px;
  position: absolute;
  opacity: 1;
  color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -7px;
  margin-left: -6px;
  text-decoration: none;

}

/*
Override Bootsnav
=====================*/


nav.navbar.bootsnav {
  background-color: $green;
}

nav.navbar.bootsnav ul.nav > li > a {
  color: #fff !important;
}

.logo {
  max-height: 250%;
  max-width: 100%;
}

.logo-scrolled {
  max-height: 150%;
  max-width: 100%;
}

/*
Slideshow
 */

.home {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  height: 100%;
  width: 100%;
}

/* Gallery */
.j-gallery{
  background-color: rgb(112, 255, 7);
}
.j-gallery-preview-content{
  background-size: auto !important;
  margin: auto !important;
  width: auto !important;
  height: 80% !important;
}

.btn-modal-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Pdf */
.pdf-img {
  width: 20%;
  text-align: center;
  margin: auto !important;
}
