<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mail provenant du site Vital'Marche</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
